li {
  list-style: none;
}

header {
  height: 40px;
}

.button {
  text-align: right;
}

a {
  text-align: right;
}
.contact {
  display: block;
  font-size: 17px;
  color: white;
  border: 1px solid #89c1ff;
  width: 80px;
  height: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #89c1ff;
  text-decoration: none;
  text-align: center;
}

.contact:hover {
  transition: all 0.3s;
  color: #333;
}

h1 {
  font-size: 60px;
  color: #93c9ff;
  text-align: center;
  padding-top: 150px;
}

.keyvisual h2 {
  font-size: 40px;
  color: white;
  text-align: center;
}

.keyvisual {
  height: 600px;
  background-image: url(https://github.com/FullStackTeacher/lp-practice/blob/main/images/keyvisual/keyvisual.jpg?raw=true);
}

.news {
  background-color: #d6eaff;
  height: 200px;
  display: flex;
}

.news img {
  padding-top: 20px;
  padding-left: 120px;
}

.news h2 {
  font-size: 35px;
  letter-spacing: 5px;
  text-align: center;
}
.news p {
  font-size: 17px;
  text-align: center;
}

.skills {
  background-color: #ffffea;
}

.skills h2 {
  font-size: 35px;
  letter-spacing: 5px;
  text-align: center;
  padding-top: 40px;
}

.skills img {
  width: 250px;
  height: 250px;
  opacity: 0.7;
  margin: 30px;
}

.images {
  justify-content: space-around;
}

.skills img:hover {
  opacity: 1;
}

.plan {
  background-color: #e5e5ff;
}

.plan h2 {
  font-size: 35px;
  letter-spacing: 5px;
  text-align: center;
  padding-top: 40px;
}

.sns {
  background-color: #ffefff;
}

.fab {
  color: #191970;
}

footer {
  background-color: #d6eaff;
  height: 35px;
}

footer p {
  font-size: 10px;
  text-align: right;
  padding-top: 10px;
  padding-right: 20px;
}
